*{
    margin:0px;
    padding:0px;
    font-size:82,5%;
    box-sizing: border-box;
}

/* START MENU */
#menu a{
  text-decoration: none;
  color:white;
  z-index:1;
  position:fixed;
  font-family: 'Raleway', sans-serif;
  font-size:2rem;
  background: linear-gradient(45deg,  #b22cff, #7285c0, #ca30b5);
  width:100%;
  padding-left:10px;

}


#offcanvasExample{
  width:60%;
}

#menu div div ul li{
  text-decoration:none;
}


#menu div div ul li a{
  text-decoration: none;

  color:white;
  font-size:1rem;
  width:auto;
 
}
/*END MENU*/




/*START HOME*/


#Home{
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    align-items:center;
    padding:0px;
    height:100vh;
}



#Home h1{
    color:rgb(255, 255, 255);
    position:relative;
    font-size:3rem;
    text-shadow: 1px 1px 5px rgb(121, 121, 121);
    margin-top:110px;
    
}


video{
    position: absolute;
    right: 0;
    bottom: 0;
    top:-180px;
    width:100vh;
    object-fit: contain;
    z-index:-1;

    
}       
img{
  position: absolute;
  right: 0;
  bottom: 0;
  top:-180px;
  width:100vh;
  object-fit: contain;
  z-index:-1;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 16em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

  /*END HOME*/